*{
  text-align: center;
}
.ml-100{
  margin-left: 100px;
}
.mt-30{
  margin-top: 30px;
}
.padding-100{
 padding:100px;
}
/* 상단바 */
.background-gray{
  background-color: #EEEEEE;
}
/* 상단메뉴이동글씨 */
.nav_item{
  margin-right: 25px;
  color: gray;
  padding-top: 5px;
  cursor: pointer;
}
/* 메인 */
.main-bg{
  height: 300px;
  background-image: url('./img/bg.png');
  background-size: cover;
  background-position: center;
}